<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.playposse.peertopeeroxygen.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".PeerToPeerOxygenApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAGZa6CeGvxFe1cazi9CReKLXnzoh-QgHY" />

        <service android:name=".firebase.OxygenFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".firebase.OxygenFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".admin.AdminMainActivity" />
        <activity
            android:name=".admin.AdminShowMissionLaddersActivity"
            android:parentActivityName=".admin.AdminMainActivity" />

        <service
            android:name=".data.DataService"
            android:exported="false" />

        <activity
            android:name=".admin.AdminEditMissionLadderActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".admin.AdminShowMissionLaddersActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".admin.AdminEditMissionTreeActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".admin.AdminEditMissionLadderActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".admin.AdminEditMissionActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".admin.AdminEditMissionTreeActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name=".student.StudentMainActivity" />
        <activity
            android:name=".student.StudentMissionTreeActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".student.StudentMainActivity" />
        <activity
            android:name=".student.StudentMissionActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".student.StudentMissionTreeActivity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity android:name=".student.StudentLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".student.StudentProfileActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".student.StudentMainActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".student.StudentBuddyMissionActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".student.StudentMainActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".admin.AdminStudentRosterActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".admin.AdminMainActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".admin.AdminStudentDetailActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".admin.AdminStudentRosterActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".student.StudentSeniorBuddyMissionActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".student.StudentMainActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".admin.AdminBackupActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".admin.AdminMainActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".student.StudentMissionRatingActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".student.StudentMainActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".admin.AdminMissionStatsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".admin.AdminMainActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".admin.AdminMissionFeedbackActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".admin.AdminMainActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".admin.AdminLoanerDeviceActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".admin.AdminMainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".student.StudentAboutActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".admin.AdminMainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".admin.AdminShowPracticasActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".admin.AdminMainActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".admin.AdminEditPracticaActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".admin.AdminShowPracticasActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".student.StudentPracticaCheckinActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".admin.AdminMainActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name=".student.StudentViewPracticaActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".admin.AdminMainActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
    </application>

</manifest>