<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.playposse.peertopeeroxygen.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".PeerToPeerOxygenApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".admin.AdminMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".admin.AdminShowMissionLaddersActivity"
            android:parentActivityName=".admin.AdminMainActivity" />

        <service
            android:name=".data.DataService" />

        <activity
            android:name=".admin.AdminEditMissionLadderActivity"
            android:parentActivityName=".admin.AdminShowMissionLaddersActivity"/>
    </application>

</manifest>